Sphinx==4.3.2
black==21.12b0
coverage==6.2
flake8==4.0.1
lxml==4.7.1
mypy==0.950
pylint==2.12.2
pytest==6.2.5
pytest-asyncio==0.16.0
pytest-cov==3.0.0
pytest-mock==3.6.1
pytest-sugar==0.9.4
rstcheck==3.3.1
sphinx_rtd_theme==1.0.0
sphinxcontrib-programoutput==0.17
yamllint==1.26.3
