Sphinx==4.3.1
black==21.12b0
coverage==5.5
flake8==3.9.1
lxml==4.6.5
mypy==0.812
pylint==2.12.2
pytest==6.2.5
pytest-asyncio==0.15.1
pytest-cov==2.11.1
pytest-mock==3.6.1
pytest-sugar==0.9.4
rstcheck==3.3.1
sphinx_rtd_theme==0.5.2
sphinxcontrib-programoutput==0.17
yamllint==1.26.1
